<div class="container container_bg">
  <div class="row">
    <div class="col-xs-6">
      <h3>{{model.author}}</h3>
      <h4>Q: {{model.question}}</h4>
      <p>notes from <strong>{{model.author}}</strong>: <em>{{model.notes}}</em></p>
      <br><br>
        <div class="bordered">
          {{question-update question=model updateQuestion="updateQuestion"}}
        </div>
        <div class="bordered">
          {{answer-add question=model saveAnswer="saveAnswer"}}
        </div>
    </div>
    <div class="col-xs-6">
      <br>
      <br>
      <h4>Answers:</h4>
        {{#each model.answers as |answer|}}
          {{answer-display answer=answer}}
        {{/each}}
    </div>
  </div>

</div>
